/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 de abr de 2022, 23:02:59
    Author     : Mikaela
*/
/* reseting css rules */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", sans-serif;
}
li{
    list-style: none; 
}
header{
    background-color: #F78B00;
    width: 1440px;
    height: 500px;
    margin: 0 auto;
    align-items: center;
}
nav{
    font-size: 18px;
    padding: 5px;
    color: #00285F;
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}

nav ul li{
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    cursor: pointer;

}
#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.exercicio{
   
    background-color: #00285F;
    width:1000px;
    height:431px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
   
   

    
}
.exercicio img{
    width: 552px;
    height: 357px;
    
}
.text{
    display: flex;
    flex-direction: column;
   margin: 0 auto;
    color: #FFFFFF;
}
/*main{
    position: relative;
}*/
#principal{
    background-color: #FFFFFF;
    width: 1440px;
    height: 1028px;
}

#sobre{
    margin: 0 auto;
    background-color: #F78B00;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1440px;
    height: 224px;


}

#final{
    margin: 0 auto;
    background-color: #00285F;
    color:#FFFFFF; 
    width: 1440px;
    height: 50px;
}
.formulario{
    
    margin: 0 auto;
    align-items: center;
    width:450px;
    height:350px;
    border: 2px solid;
}